<h1>About</h1>


<h2>PM Tool</h2>
<h3>Moderate your project</h3>
<p> PM Tool helps you order projects and order tasks to let you know what to do and when </p>

<h5>Built with ruby on rails!</h5>

<h2>Developer</h2>
<h3>Derek Barker</h3>
<img src="https://scontent-a-sea.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10550041_10152296588508175_665547409153022149_o.jpg" style="width:200px;height:200px;margin-left:30px;">

<p> JR Web Developer, currently takeing a rails cource at CodeCore In Vancouver, BC, Canada</p>